<body class="main-layout">
   
    <!-- header -->
    <app-header></app-header>
    <!-- end header -->
    <div class="Contact-bg ">
      <div class="container ">
        <div class="row ">
           <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
            <div class="abouttitle ">
             <h2>Login</h2>
           </div>
           </div>
        </div>
      </div>
    </div>
    
    <div class="Contact ">
      <div class="container">
        
        <div class="row ">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
            <form>
              <div class="row ">
              
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3">
                <h4><label for="uname"><b>Username:</b></label></h4>
              <input class="form-control " placeholder="Email " type="Email ">
            </div>
            </div>
            <div class="row ">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3">
                <h4><label for="psw"><b>Password:</b></label></h4> 
              <input type="password" class="form-control " placeholder="Password ">
            </div>
            </div>
            </form>
            <a class="col-lg-offset-3" id="forgotPwd" routerLink="/forgotPassword">Forgot Password? </a> 
            <br>
            <br>
          </div>
         
          <button class="send-btn login col-lg-offset-3">Login</button>

          <button  routerLink="/signup" class="send-btn signup" style="visibility: hidden">Signup</button>
        </div>
      </div>
    </div>
    
    <!-- footer -->
    <app-footer></app-footer>
    <!-- end footer --> 
    
    </body>