<header>
    <!-- header inner -->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo"> <a href="index.html"><img src="assets/images/logo.jpg" alt="#"></a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <div class="navbar menu-area">
                        <div class="navbar-inner">
                          <div class="container main-menu">
                            <ul class="nav navbar-nav menu-area-main">
                                <li class="active"> <a routerLink="/home">HOME</a> </li>
                                <li> <a routerLink="/about">ABOUT US</a> </li>
                                <li> <a routerLink="/meetMe"> MEET ME</a> </li>
                                <li> <a routerLink="/whatWeDo"> WHAT WE DO</a> </li>
                                <li> <a routerLink="/contactUs">CONTACT US</a> </li>
                                <li> <a routerLink="/login">LOGIN </a> </li>
                                <li class="mean-last"> <a href="#"><img src="assets/images/search_icon.png" alt="#" /></a> </li>
                                <li class="mean-last"> <a href="#"><img src="assets/images/top-icon.png" alt="#" /></a> </li>
                            </ul>
                          </div>
                        </div>
                      </div>
        
                </div>
            </div>
        </div>
    </div>
    <!-- end header inner -->
</header>