<body class="main-layout">
   
    <!-- header -->
    <app-header></app-header>
    <!-- end header -->
    <div class="Contact-bg ">
      <div class="container ">
        <div class="row ">
           <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
            <div class="abouttitle ">
             <h2>Password Help</h2>
           </div>
           </div>
        </div>
      </div>
    </div>
    <div>
    <h3 class="mb-none font14">
        Please enter your registered email below to receive assistance in reseting
        your password.
    </h3>
</div>
      <div>
        <div class="container">
          
          <div class="row ">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
              <form>
                <div class="row ">
                
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-lg-offset-3">
                <input class="form-control " placeholder="Email " type="Email ">
              </div>
              </div>
            
              </form>
            </div>
           
            <button class="send-btn col-lg-offset-4">Submit</button>
            <button  routerLink="/login" class="send-btn login">Cancel</button>
          </div>
        </div>
      </div>
    
    <!-- footer -->
    <app-footer></app-footer>
    <!-- end footer --> 
    
    </body>